@charset "UTF-8";
html {
  box-sizing: border-box;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100;
  margin: 0;
  border: 0;
}

* {
  box-sizing: inherit;
  margin: 0;
  border: 0;
}

/* Light mode (commented out) */
/*body {
  color: black;
  background: #FCF1D3;
  background-color: #FCF1D3;
  margin: 0; border: 0;
}*/

/* Dark mode (default) */
body {
  color: white;
  background: black;
  background-color: black;
  margin: 0; border: 0;
}
a, u {
    text-decoration: none;
}

/* Section CSS */
section p{
  margin: 0;
}
/* Light mode section1 (commented out) */
/*.section1{
  height: 800px;
  padding: 35px;
  background-color: #050407;
  background-image: url('Images/light.png');
  background-repeat:no-repeat;
  background-position: center top;
}*/

/* Dark mode section1 (default) */
.section1{
  height: 800px;
  padding: 35px;
  background-color: #050407;
  background-image: url('Images/earth.webp');
  background-repeat:no-repeat;
  background-position: center top;
}
/* Light mode section2 (commented out) */
/*.section2{
  height: 1000px;
  padding: 35px;
  background-color: #FCF1D3;
}*/

/* Dark mode section2 (default) */
.section2{
  height: 1000px;
  padding: 35px;
  background-color: black;
}

/* section3 stays the same (already dark) */
.section3{
  height: 900px;
  padding: 35px;
  background-image: url('Images/stars.jpg');
  background-color: black;
}
.section4{
  height: 800px;
  padding: 35px;
  background-image: url('Images/tree.jpeg');
  /*background-repeat:no-repeat;*/
  background-position: center bottom;
  background-color: black;
}
.section5{
  height: 900px;
  padding: 35px;
  background-color: black;
}
.section6{
  height: 800px;
  padding: 35px;
  background-image: url('Images/contacts_earth.png');
  background-repeat:no-repeat;
  background-size: 380px 380px;
  background-position: center right;
  background-color: black;
}

/* Page Number CSS */
section .number {
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
  transform: rotate(90deg);
  position: relative;
  top: 10px;
  right: 4px;
  height: 5px; width: 5px;
	line-height: 20px;
	letter-spacing: 4px; font-size: 12px;
}

/* Navigation Scroll-Dot CSS */
.navigation{
  height: 100%;
  position: fixed;
  top: 110px;
  left: 16px;
  z-index:10;
}
.navigation a{
  display: block;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #31302C; /*changed*/
  border-radius: 50%;
  display: inline-block;
}
.dot:hover{
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(45deg, #fcf9f9 0, #fcf9f9 1px, transparent 0, transparent 50%);
  border-radius: 50%;
  border: 1.5px solid rgba(255, 255, 255, 0.83);
  width: 25px;
  height: 25px;
}

/* Navigation Side Menu Animated */
.nav_menu{
  font-size:30px;
  position: fixed;
  color: white;
  right: 17px;
  top:5px;
}
/* Dark mode toggle (commented out - no longer needed) */
/*.dark_mode_toggle{
  font-size:30px;
  position: fixed;
  color: white;
  right: 60px;
  top:5px;
  cursor: pointer;
}*/
.sidenav {
  font-family: 'Roboto Mono', monospace !important;
  font-weight: bold;
  height: 100%; width: 0;
  position: fixed;
  z-index: 12;
  top: 0; left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (min-width: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* About Me Grid */
@media screen and (min-width: 200px) and (max-width: 900px){
  .split_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 0px;
    grid-template-areas:
      "right_container"
      "left_container";
    margin-top: 3em;
    margin-bottom: 2em;
  }
  .prev-next{
    display: none;
  }
}

@media screen and (min-width: 900px) {
.split_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 18px;
  grid-template-areas:
    "left_container right_container";
  margin-top: 1em;
}
}

.left_container {
  grid-area: left_container;
  /*border-radius: 20px;
  background:#e5d8e8;*/
  padding: 2em 2em 2em 2em;
  margin-left: 2em;
  margin-right: 1em;
  z-index: 10;
}

.right_container {
  grid-area: right_container;
  text-align: center;
  display: block;
  z-index: 10;
}
@media screen and (min-width: 200px) and (max-width: 900px){
  .left_container {
    margin-bottom: 0;}
}
.section2 .prev-next{
  margin-top: 10em;
}
.section3 .prev-next{
  margin-top: 2em;
}
.section4 .prev-next{
  margin-top: 3.5em;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/* Hide the images by default */
.mySlides {
  display: none;
}
.slideshow_images{
  height: 18em;
}
/* Dot for Slideshow Pictures */
.pic_dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.pic_dot:hover{
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(45deg, #fcf9f9 0, #fcf9f9 1px, transparent 0, transparent 50%);
       -webkit-background-clip: dot;
       -webkit-text-fill-color: transparent;
       -webkit-text-stroke: 2px #FCF9F9;
    border-radius: 50%;
    border: 1.5px solid rgba(255, 255, 255, 0.83);
  }

.active, .pic_dot:hover {
  background-color: #717171;
}

/* Fading animation for Slideshow*/
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Education CSS*/
.timeline{
  margin: 4em 1.5em 3em 3em;
}
@media screen and (max-width: 200px) {
.education_grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px 0px;
  grid-template-areas:
    "education_container_2"
    "education_container_1 ";
}
}

@media screen and (min-width: 1024px) {
.education_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "education_2 education_container_2"
    "education_container_1 education_1";
}

.education_2{
  grid-area: education_2;
}
.education_1{
  grid-area: education_1;
}
}
@media all and (max-width: 1024px) {
  .education_image { display: none; }
}

.education_image{
  height:12em;
  padding-left: 8em;
  padding-top: 2em;
}
.education_container_2 {
  grid-area: education_container_2;
  width: 100%;
  border-radius: 20px;
  max-width: 1600px;
  padding: 3em;
  background: #1a1a1a;
}
.education_container_box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.education_container_1 {
  grid-area: education_container_1;
  width: 100%;
  border-radius: 20px;
  max-width: 1600px;
  padding: 3em;
  background: #1a1a1a;
}
.institute{
  font-size: 18px
}
.institute_role{
  margin-top: .3em;
	font-size: 14px
}
.education__time{
  font-size: 20px;
	font-weight: 450;
	text-align: right
}
@media all and (max-width: 700px) {
  .education__time { display: none !important; }
}
.details{
  margin-top: 1em;
	font-size: 14px;
  line-height: 1.5em;
}

/* Research CSS */
.research_card_container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.research_card {
  margin-top: 5em;
  position: relative;
  width: 300px;
  height: 400px;
  background: black;
  transition: 1s;
}

.research_card:hover {
  transform: translateX(50%);
}

@media screen and (min-width: 200px) and (max-width: 500px){
  .research_card:hover {
    transform: translateX(0%);
  }
}

.research_card .imgBox {
  width: 100%;
  height: 100%;
  position: relative;
  transform-origin: left; z-index: 1;
  transform-style: preserve-3d; background: #000;
  transition: 1s;
}

.research_card:hover .imgBox {
  transform: rotateY(-180deg);
  box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.25);
}

.research_card .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.research_card .imgBox img:nth-child(2) {
  transform: rotateY(180deg);
}

.research_card .details {
  position: absolute;
  top: 0; left: 0;
  width: 100%;  height: 100%;
  box-sizing: border-box; padding: 20px;
}

.research_card .details .content {
  display: flex;  justify-content: center;
  align-items: center; flex-direction: column;
}

.research_card h2 {
  text-align: center;
  font-weight: 700;
  line-height: 1em;
  color: #3f3f3f;
}

.research_card h2 span {
  font-size: 0.8em;
}

/* Hobbies CSS*/
@media screen and (min-width: 1024px){
.hobbies_grid {
  display: grid;
  grid-template-columns: 1fr 1.1fr 0.9fr 1fr;
  grid-template-rows:  0.5fr 1.3fr;;
  gap: 0px 0px;
  grid-template-areas:
    "hobbies_text hobbies_text hobbies_nav hobbies_nav"
    "hobbies_grid_image hobbies_grid_image hobbies_nav hobbies_nav";
}

.hobbies_nav {
  grid-area: hobbies_nav;
  margin-top: 2em;
  margin-left: 4em;
}

.hobbies_text {
  grid-area: hobbies_text;
  margin-top: 2em;
  margin-left:4em;
  padding-right: 5em;
}

.hobbies_grid_image {
  grid-area: hobbies_grid_image;
  margin-left:4em;
  margin-right: 8em;
}

.hobby_image{
  margin-top: 2em;
  height:18em;
  filter: url('#squiggly-1');
}
}

@media screen and (min-width: 200px) and (max-width: 1024px){
  .hobbies_nav_image{
    width:7em;
  }
  .grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "hobbies_text"
    "hobbies_nav";
  }
  .hobbies_text {
    grid-area: hobbies_text;
    margin-top:3em;
    margin-left:4em;
    padding-right: 5em;
  }
  .hobbies_nav {
    grid-area: hobbies_nav;
    margin-top: 3em;
  }
  .hobby_image{
    display: none;
  }
}
.section5 .split_grid{
  margin-top: 4em;
}
.hobbies_nav_image{
  width:10em;
}

.hobbies_nav_image {
  filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1);
      -webkit-transition: all .5s ease-in-out;
}

/* Disable grayscale on hover */
.hobbies_nav_image:hover {
  filter: none;
     -webkit-filter: grayscale(0);
     -webkit-transform: scale(1.01);
}
.hobbies_card{
  padding: 0.5em;
}
.caption {
    font-family: 'Roboto Mono', monospace !important;
    font-weight: bold;
    margin-top: 0.5em;
    display: block;
    font-size: 1em !important;
}
/* Hobbies Categories - books, movies, others */
.section_hobbies{
  padding: 35px;
  background-color: black;
}
.hobbies_cards_flex{
	font-family: 'Josefin Sans', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
	height: 300px;
	width: 210px;
	perspective: 600px;
  transition: .5s;
  margin:2em 1em 1em 1em;
}
.other_card{
  width: 210px;
}
.card:hover .card-front {
	transform: rotateY(-180deg);
}
.card:hover .card-back {
	transform: rotateY(0deg);
}
.card-front {
	height: 100%;
	width: 100%;
	transition: .5s;
}
.poster{
	width: 210px;
	height: 300px;
}
.card-back {
	height: 100%;
	width: 100%;
	position: absolute; top: 0; left: 0;
	background-color: #000000; backface-visibility: hidden;
	transform: rotateY(180deg); transition: .5s;
	text-align: center;
}
.card-back h2 {
	margin-top: 4em;
	font-size: 18px;
}
.card-back h2 span {
	font-size: 15px;
}
.card-back a:hover {
	color: #000000;
	background-color: #fff;
}
/* Line Below Image */
.seperate_line {
	background: white;
  margin-top: 0.3em;
	height:2px;
}


/* Contacts CSS*/
.contacts_text{
  line-height: 1em;
  margin-left: 4em;
  margin-top: 1em;
}
.social-icons {
  margin-top: 2em;
  margin-left: 3em;
  margin-bottom: 10em;
}
.social-icons a {
  width: 10em; height: 35px;
  display: flex;
  margin: 5px;
  padding: 1em;
  font-size: 18px;
  align-items: center;
  text-decoration: none;
  background: #333;
  color: rgba(255, 255, 255, 0.5);
  transition: 1s;
}
.social-icons a:hover {
  background: white;
  color: rgb(0, 0, 0);
  transition: 1s;
}
.list-inline-item {
  display: inline-block;
}
.contact-list {
  padding-left: 0;
  list-style: none;
}

/* General CSS */
.text-center {
  text-align: center !important;
}
.center-align {
  margin: auto !important;
}

.text_anchor{
  font-family: sans-serif;
  font-size: 0.875em;
  color: white;
}

.text_anchor a:link {
  color: grey;
}
.text_anchor a:hover {
  color: white;
}
.text_anchor a:visited {
  color: white;
}
.text_anchor a:active {
  color: grey;
}
.boxed {
  width: 150px;
  border: 3px solid grey;
  padding: 20px;
  transition: 2s;
}
.boxed:hover{
  width: 150px;
  border: 3px solid white;
  padding: 20px;
  transition: 1s;
}
/* Font CSS*/
/*font-family: 'Rubik Mono One', sans-serif;*/
#name2 {
  font-family: 'Roboto Mono', monospace;
  font-size: 60px;
  font-weight: 200;
  text-align: left;
  color: #FCF9F9;
  margin-left: 1em;
  margin-top: 0.2em;
}
h1{
  font-size: 18px;
  line-height: 1.5em;
  font-weight: normal;
  color: white;
}

#text1{
    font-size: 18px;
    line-height: 1.5em;
    color: white;
  }
#text2{
  font-size: 16px;
  line-height: 1.5em;
  color: white;
}
#text3{
  font-size: 12px;
  line-height: 1.8em;
  color: rgba(255,255,255,0.7);
}

/* Animation for Falling Drops*/
.lines {
  position: absolute;
  height: 100%;
  margin: auto;
  width: 80vw;
}

.line {
  position: absolute;
  width: 1px;
  height: 1700px;
  left: 50%;
  /*background: rgba(255, 255, 255, 0.1);*//*show lines*/
  overflow: hidden; }
  .line::after {
    z-index: 0;
    content: '';
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%; /*start outside screen*/
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    animation: drop 24s 0s infinite;
    animation-timing-function: cubic-bezier(0.6, 0.7, 0, 0.2); } /* cubic-bezier(x1,y1,x2,y2)*/
  .line:nth-child(1) {
    margin-left: -35%; }
  .line:nth-child(2)::after {
    margin-left: -25%;
    animation-delay: 8s; }
  .line:nth-child(3) {
    margin-left: 10%; }
  .line:nth-child(3)::after {
      animation-delay: 3s; }
  .line:nth-child(4) {
      margin-left: 35%; }
  .line:nth-child(4)::after {
      animation-delay: 1.5s; }

@keyframes drop {
  0% {
    top: -50%; }
  100% {
    top: 100%; } }

/*Title Style css*/
  .random_char {
      color: #757575;
  }

  .title_container {
    height: 100%;
    width: 100%;
    margin-top: 8.5em;
    margin-bottom: 1.5em;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .text {
    font-family: 'Roboto Mono', monospace;
    font-size: 34px;
    color: white;
  }
  .typewriter {
    font-family: sans-serif;
    color: grey;
  }

/* Map CSS (removed)
.map { height: 30rem;
      filter: brightness(0.8) saturate(0.8);}
.map iframe {pointer-events: none; height: 100%;
      width: 100%;border: 0;}
@media (max-width: 992px) {.map {height: 75%;}
*/

/* Dark Mode CSS (commented out - dark mode is now default) */
/*body.dark-mode {
  color: white;
  background: black;
  background-color: black;
}

body.dark-mode .section1{
  background-image: url('Images/earth.webp');
}

body.dark-mode .section2{
  background-color: black;
}

body.dark-mode .section3{
  background-color: black;
}

body.dark-mode .section4{
  background-color: black;
}

body.dark-mode .section5{
  background-color: black;
}

body.dark-mode .section6{
  background-color: black;
}

body.dark-mode .section_hobbies{
  background-color: black;
}

body.dark-mode h1{
  color: white;
}

body.dark-mode #text1{
  color: white;
}

body.dark-mode #text2{
  color: white;
}

body.dark-mode .education_container_1{
  background: #1a1a1a;
}

body.dark-mode .education_container_2{
  background: #1a1a1a;
}*/
